#goo {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

header {
	z-index: 1000;
	position: absolute;
	top:0em;
	left:1em;
	font-family: Helvetica;
}

header h1 {
	margin-bottom:0;
	text-transform: uppercase;
}
header p {
	margin-top:0;
}

header a {
	color:black;
	text-decoration: none;
	font-weight: bold;
}